In [7]:
# Import the dataset
import pandas as pd

df = pd.read_excel(r"D:/quang/data attacker/train_clean.xlsx")
df.columns = df.columns.str.strip()
pd.options.display.max_columns = None
df.head(4)

,id,label,time_1,time_2,Field_11,cat_1,cat_2,cat_3,cat_4,cat_5,date_1,mer_des,mul_rate,value,cat_6,num_date_review,review_value,review_value_2,date_2,date_3,date_4,dob,age,sex,address,location_id,mer_id,mer_name,cat_7,trans_location,trans_currency,cat_8,job,num_trans_last_month,cat_9,cat_10,cat_11,com_type,cat_12,job_detail,unknown_var_1,unknown_var_2,unknown_var_3,unknown_var_4,unknown_var_5,unknown_var_6,unknown_var_7,unknown_var_8,unknown_var_9,unknown_var_10,unknown_var_11,unknown_var_12,unknown_var_13,unknown_var_14,unknown_var_15,unknown_var_16,unknown_var_17,unknown_var_18,unknown_var_19,unknown_var_20,social_friend_count,social_sex_info,social_subcriber_count,social_location_id,current_location_city,current_location_country,hometown_location_city,hometown_location_country
0,11651,0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,7.0,7.0,NaN,1,1.0,5.0,10.606602,-2.5,-10.0,1,NaN,NaN,NaN,NaN,1.0,2901.0,NaN,NaN,NaN,285.0,male,64.0,vi_VN,Hanoi,Vietnam,??oan Hùng,Vietnam
1,48491,0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,11.0,7.0,5.0,1,1.0,84.0,55.154329,45.0,6.0,1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,2534.0,female,391.0,vi_VN,NaN,NaN,??oan Hùng,Vietnam
2,42868,0,2017-01-23 18:00:32.690,2017-01-23 18:00:32.690,NaN,C2,P1,1.0,NaN,1.0,12/27/2012,NaN,2.26,3367400.0,1.0,0.0,-,0.0,NaN,NaN,NaN,19810807.0,36.0,FEMALE,"Xã Lâu Thượng, Võ Nhai, Thái Nguyên",HC,DW0016Z,Kho bạc nhà nước Thái Nguyên,1.0,"Tổ 3, P.Phan Đình Phùng - TPTN",NaN,DW,Đảng đoàn thể TW,6.0,I,3.0,0.0,Vùng 2,D,NaN,4.0,4.0,4.0,1.0,3,1.0,2.0,1.414214,1.0,0.0,1,0.06,0.33,0.195,0.27,NaN,NaN,NaN,NaN,NaN,653.0,female,0.0,vi_VN,Thái Nguyên,Vietnam,??oan Hùng,Vietnam
3,68835,1,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,1.0,1.0,2,1.0,0.0,NaN,0.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,male,0.0,vi_VN,Can Tho,Vietnam,Ô Môn,Vietnam

In [8]:
# Divide traindata into two dataframes

dat_with_time_1 = df[df['time_1'].isnull()==False]
dat_without_time_1 = df[df['time_1'].isnull()==True]

In [3]:
dat_with_time_1.to_excel(r'C:\Users\ADMIN\OneDrive - National Economics University\Desktop\DAT WITH TIME1.xlsx', index=False)
dat_without_time_1.to_excel(r'C:\Users\ADMIN\OneDrive - National Economics University\Desktop\DAT WITHOUT TIME1.xlsx', index=False)

In [57]:
dat_with_time_1.isnull().sum(axis = 0)

id                              0
time_1                          0
time_2                          0
Field_11                     1838
cat_1                           0
                             ...
social_location_id           1263
current_location_city        1816
current_location_country     1816
hometown_location_city       1861
hometown_location_country    1861
Length: 67, dtype: int64

# Random Forest with time_1

In [16]:
dat_with_time_1_clean = dat_with_time_1.drop(['location_id',"cat_9",'trans_currency',"id","time_1","time_2","Field_11","cat_2","cat_4","cat_5","cat_6","date_1","mer_des","review_value","date_2","date_3","date_4","dob","address","mer_id","mer_name","trans_location","cat_8","job","num_trans_last_month","com_type","job_detail","unknown_var_4","social_location_id","social_subcriber_count","social_sex_info","social_friend_count"], axis=1)
dat_with_time_1_clean[['cat_1','cat_3','review_value_2','sex', 'cat_7', 'cat_10','cat_12','unknown_var_5','unknown_var_6','unknown_var_11','unknown_var_16','unknown_var_18','unknown_var_19','unknown_var_20','cat_11','current_location_city']] = dat_with_time_1_clean[['cat_1','cat_3','review_value_2','sex', 'cat_7', 'cat_10','cat_12','unknown_var_5','unknown_var_6','unknown_var_11','unknown_var_16','unknown_var_18','unknown_var_19','unknown_var_20','cat_11','current_location_city']].apply(lambda x: x.fillna(x.value_counts().index[0]))
dat_with_time_1_clean[['mul_rate','value','num_date_review','age','unknown_var_2','unknown_var_3','unknown_var_7','unknown_var_8','unknown_var_9','unknown_var_10','unknown_var_12','unknown_var_13','unknown_var_14','unknown_var_15', 'unknown_var_17','unknown_var_1']] = dat_with_time_1_clean[['mul_rate','value','num_date_review','age','unknown_var_2','unknown_var_3','unknown_var_7','unknown_var_8','unknown_var_9','unknown_var_10','unknown_var_12','unknown_var_13','unknown_var_14','unknown_var_15', 'unknown_var_17','unknown_var_1']].apply(lambda x: x.fillna(x.median()))

In [17]:
change_to_int = ['cat_3', 'cat_7', 'cat_10', 'cat_11', 'unknown_var_6', 'unknown_var_11','unknown_var_16',
                'unknown_var_18','unknown_var_19','unknown_var_20']
for i in change_to_int:
    dat_with_time_1_clean[i]=dat_with_time_1_clean[i].astype('int')
    
dat_with_time_1_clean = pd.get_dummies(data=dat_with_time_1_clean, columns=['cat_1','cat_3','review_value_2','sex', 'cat_7', 'cat_10','cat_11','cat_12','unknown_var_5','unknown_var_6','unknown_var_11','unknown_var_16','unknown_var_18','unknown_var_19','unknown_var_20']) #tao bien dummies

In [51]:
# In[]:
y = set(new_dat_with_time_1_clean.columns)
temp4 = [x for x in dat_with_time_1_clean.columns if x not in y]
temp4.remove('label')

# In[]:
dat_with_time_1_clean.drop(temp4, axis=1, inplace=True)

In [52]:
X_with_time_1=dat_with_time_1_clean.drop(["label"], axis=1) 
y_with_time_1=dat_with_time_1_clean["label"]

In [53]:
from sklearn.model_selection import train_test_split
X_train_with_time_1, X_test_with_time_1, y_train_with_time_1, y_test_with_time_1 = train_test_split(X_with_time_1, y_with_time_1, test_size=0.2, random_state=4316)

In [54]:
from sklearn.ensemble import RandomForestClassifier
rf_model_with_time_1 = RandomForestClassifier(n_estimators=1000, max_features='sqrt',
                                  random_state=4316)
rf_model_with_time_1.fit(X_train_with_time_1, y_train_with_time_1)

RandomForestClassifier(max_features='sqrt', n_estimators=1000,
                       random_state=4316)

In [55]:
predictions = rf_model_with_time_1.predict(X_test_with_time_1)
predictions
rf_model_with_time_1.predict_proba(X_test_with_time_1)

array([[0.706, 0.294],
       [0.696, 0.304],
       [0.625, 0.375],
       ...,
       [0.606, 0.394],
       [0.598, 0.402],
       [0.658, 0.342]])

In [56]:
rf_model_with_time_1.score(X_test_with_time_1,y_test_with_time_1)

0.6349206349206349

In [12]:
importances = rf_model_with_time_1.feature_importances_
columns = X_with_time_1.columns
i=0
while i <len(columns):
    print(f"The importance of feature '{columns[i]}' is {round(importances[i]*100,2)}%.")
    i+=1

The importance of feature 'mul_rate' is 0.83%.
The importance of feature 'value' is 4.72%.
The importance of feature 'num_date_review' is 4.57%.
The importance of feature 'age' is 4.71%.
The importance of feature 'unknown_var_1' is 3.77%.
The importance of feature 'unknown_var_2' is 3.54%.
The importance of feature 'unknown_var_3' is 3.3%.
The importance of feature 'unknown_var_7' is 3.95%.
The importance of feature 'unknown_var_8' is 3.64%.
The importance of feature 'unknown_var_9' is 4.22%.
The importance of feature 'unknown_var_10' is 3.24%.
The importance of feature 'unknown_var_12' is 3.95%.
The importance of feature 'unknown_var_13' is 3.62%.
The importance of feature 'unknown_var_14' is 4.74%.
The importance of feature 'unknown_var_15' is 4.85%.
The importance of feature 'unknown_var_17' is 4.27%.
The importance of feature 'cat_1_C1' is 0.77%.
The importance of feature 'cat_1_C2' is 0.74%.
The importance of feature 'cat_3_1' is 0.48%.
The importance of feature 'cat_3_2' is 0.45%.
The importance of feature 'cat_3_3' is 0.1%.
The importance of feature 'cat_3_4' is 0.02%.
The importance of feature 'review_value_2_0' is 0.35%.
The importance of feature 'review_value_2_1' is 0.33%.
The importance of feature 'sex_FEMALE' is 0.88%.
The importance of feature 'sex_MALE' is 0.89%.
The importance of feature 'cat_7_0' is 0.88%.
The importance of feature 'cat_7_1' is 0.76%.
The importance of feature 'cat_7_2' is 0.41%.
The importance of feature 'cat_7_3' is 0.37%.
The importance of feature 'cat_7_4' is 0.76%.
The importance of feature 'cat_10_0' is 0.38%.
The importance of feature 'cat_10_2' is 0.85%.
The importance of feature 'cat_10_3' is 0.72%.
The importance of feature 'cat_10_4' is 0.67%.
The importance of feature 'cat_10_5' is 0.33%.
The importance of feature 'cat_10_6' is 0.13%.
The importance of feature 'cat_10_7' is 0.09%.
The importance of feature 'cat_10_8' is 0.4%.
The importance of feature 'cat_10_9' is 0.03%.
The importance of feature 'cat_11_0' is 0.44%.
The importance of feature 'cat_11_2' is 0.27%.
The importance of feature 'cat_11_3' is 0.08%.
The importance of feature 'cat_11_4' is 0.14%.
The importance of feature 'cat_11_5' is 0.34%.
The importance of feature 'cat_12_B' is 0.56%.
The importance of feature 'cat_12_C' is 0.74%.
The importance of feature 'cat_12_D' is 0.85%.
The importance of feature 'cat_12_E' is 0.69%.
The importance of feature 'cat_12_F' is 0.55%.
The importance of feature 'cat_12_G' is 0.64%.
The importance of feature 'cat_12_H' is 0.36%.
The importance of feature 'cat_12_I' is 0.36%.
The importance of feature 'unknown_var_5_0' is 0.88%.
The importance of feature 'unknown_var_5_1' is 0.85%.
The importance of feature 'unknown_var_5_1cy' is 0.29%.
The importance of feature 'unknown_var_5_2' is 0.76%.
The importance of feature 'unknown_var_5_2cy' is 0.36%.
The importance of feature 'unknown_var_5_3' is 0.6%.
The importance of feature 'unknown_var_5_3cy' is 0.3%.
The importance of feature 'unknown_var_5_4' is 0.37%.
The importance of feature 'unknown_var_5_4cy' is 0.15%.
The importance of feature 'unknown_var_5_5' is 0.16%.
The importance of feature 'unknown_var_5_5cy' is 0.05%.
The importance of feature 'unknown_var_5_6' is 0.03%.
The importance of feature 'unknown_var_5_6cy' is 0.02%.
The importance of feature 'unknown_var_5_7cy' is 0.01%.
The importance of feature 'unknown_var_5_cb1' is 0.15%.
The importance of feature 'unknown_var_5_cb2' is 0.04%.
The importance of feature 'unknown_var_5_notfound' is 0.43%.
The importance of feature 'unknown_var_6_1' is 0.47%.
The importance of feature 'unknown_var_6_2' is 0.45%.
The importance of feature 'unknown_var_6_3' is 0.05%.
The importance of feature 'unknown_var_6_4' is 0.0%.
The importance of feature 'unknown_var_11_1' is 0.83%.
The importance of feature 'unknown_var_11_2' is 0.55%.
The importance of feature 'unknown_var_11_4' is 0.71%.
The importance of feature 'unknown_var_16_0' is 0.04%.
The importance of feature 'unknown_var_16_1' is 0.04%.
The importance of feature 'unknown_var_18_1' is 0.48%.
The importance of feature 'unknown_var_18_2' is 0.47%.
The importance of feature 'unknown_var_18_3' is 0.64%.
The importance of feature 'unknown_var_18_4' is 0.8%.
The importance of feature 'unknown_var_18_5' is 0.61%.
The importance of feature 'unknown_var_18_6' is 0.49%.
The importance of feature 'unknown_var_18_7' is 0.33%.
The importance of feature 'unknown_var_18_8' is 0.24%.
The importance of feature 'unknown_var_18_9' is 0.16%.
The importance of feature 'unknown_var_18_10' is 0.14%.
The importance of feature 'unknown_var_18_11' is 0.07%.
The importance of feature 'unknown_var_18_12' is 0.05%.
The importance of feature 'unknown_var_18_13' is 0.04%.
The importance of feature 'unknown_var_18_14' is 0.03%.
The importance of feature 'unknown_var_19_0' is 0.86%.
The importance of feature 'unknown_var_19_1' is 0.79%.
The importance of feature 'unknown_var_19_2' is 0.65%.
The importance of feature 'unknown_var_19_3' is 0.33%.
The importance of feature 'unknown_var_19_4' is 0.13%.
The importance of feature 'unknown_var_19_5' is 0.04%.
The importance of feature 'unknown_var_19_6' is 0.01%.
The importance of feature 'unknown_var_19_8' is 0.0%.
The importance of feature 'unknown_var_20_0' is 0.19%.
The importance of feature 'unknown_var_20_1' is 0.61%.
The importance of feature 'unknown_var_20_2' is 0.61%.
The importance of feature 'unknown_var_20_3' is 0.68%.
The importance of feature 'unknown_var_20_4' is 0.76%.
The importance of feature 'unknown_var_20_5' is 0.5%.
The importance of feature 'unknown_var_20_6' is 0.37%.
The importance of feature 'unknown_var_20_7' is 0.25%.
The importance of feature 'unknown_var_20_8' is 0.16%.
The importance of feature 'unknown_var_20_9' is 0.1%.
The importance of feature 'unknown_var_20_10' is 0.07%.
The importance of feature 'unknown_var_20_11' is 0.03%.
The importance of feature 'unknown_var_20_12' is 0.02%.
The importance of feature 'unknown_var_20_13' is 0.02%.

# Random Forest without time_1

In [13]:
dat_without_time_1_clean = dat_without_time_1.drop(['value','sex',"time_1","time_2","Field_11",
                                                    'cat_1',"cat_2",'cat_3',"cat_4","cat_5","cat_6",
                                                    'num_date_review','review_value','age',"date_1",'mul_rate',
                                                    "mer_des","date_2","date_3","date_4","dob",
                                                    "address","mer_id","mer_name",'cat_7','location_id',
                                                    "trans_location","cat_8","job","num_trans_last_month",'cat_10',
                                                    'cat_11','cat_12',"com_type","job_detail","unknown_var_4",
                                                    'unknown_var_12','unknown_var_13','unknown_var_14','unknown_var_15',
                                                    "social_location_id","social_subcriber_count","social_sex_info",
                                                    "social_friend_count",'trans_currency','cat_9','unknown_var_18',
                                                    'unknown_var_19','unknown_var_20','unknown_var_7','unknown_var_8',
                                                    'unknown_var_16'], axis=1)

In [14]:
dat_without_time_1_clean[['unknown_var_5','unknown_var_6','unknown_var_11']] = dat_without_time_1_clean[['unknown_var_5','unknown_var_6','unknown_var_11']].apply(lambda x: x.fillna(x.value_counts().index[0]))
dat_without_time_1_clean[['unknown_var_2','unknown_var_3','unknown_var_9','unknown_var_10','unknown_var_17','unknown_var_1']] = dat_without_time_1_clean[['unknown_var_2','unknown_var_3','unknown_var_9','unknown_var_10','unknown_var_17','unknown_var_1']].apply(lambda x: x.fillna(x.median()))

In [15]:
change_to_int = ['unknown_var_6', 'unknown_var_11']
for i in change_to_int:
    dat_without_time_1_clean[i]=dat_without_time_1_clean[i].astype('int')
    
dat_without_time_1_clean = pd.get_dummies(data=dat_without_time_1_clean, columns=['unknown_var_5','unknown_var_6', 'unknown_var_11']) #tao bien dummies

In [16]:
dat_without_time_1_clean = dat_without_time_1_clean.drop(['unknown_var_6_5'], axis = 1)

In [17]:
X_without_time_1=dat_without_time_1_clean.drop(["label"], axis=1) 
y_without_time_1=dat_without_time_1_clean["label"]

In [19]:
from sklearn.model_selection import train_test_split
X_train_without_time_1, X_test_without_time_1, y_train_without_time_1, y_test_without_time_1 = train_test_split(X_without_time_1, y_without_time_1, test_size=0.2, random_state=69420)

In [23]:
from sklearn.ensemble import RandomForestClassifier
rf_model_without_time_1 = RandomForestClassifier(n_estimators=100, max_features='sqrt',
                                  random_state=69420)
rf_model_without_time_1.fit(X_train_without_time_1, y_train_without_time_1)

RandomForestClassifier(random_state=69420)

In [24]:
predictions = rf_model_without_time_1.predict(X_test_without_time_1)
predictions
rf_model_without_time_1.predict_proba(X_test_without_time_1)

array([[0.95, 0.05],
       [0.57, 0.43],
       [0.63, 0.37],
       ...,
       [0.98, 0.02],
       [0.66, 0.34],
       [0.16, 0.84]])

In [25]:
rf_model_without_time_1.score(X_test_without_time_1,y_test_without_time_1)

0.608426517571885

In [26]:
importances = rf_model_without_time_1.feature_importances_
columns = X_without_time_1.columns
i=0
while i <len(columns):
    print(f"The importance of feature '{columns[i]}' is {round(importances[i]*100,2)}%.")
    i+=1

The importance of feature 'id' is 36.45%.
The importance of feature 'unknown_var_1' is 6.48%.
The importance of feature 'unknown_var_2' is 6.06%.
The importance of feature 'unknown_var_3' is 6.14%.
The importance of feature 'unknown_var_9' is 16.32%.
The importance of feature 'unknown_var_10' is 9.28%.
The importance of feature 'unknown_var_17' is 8.85%.
The importance of feature 'unknown_var_5_0' is 1.03%.
The importance of feature 'unknown_var_5_1' is 0.91%.
The importance of feature 'unknown_var_5_1cy' is 0.45%.
The importance of feature 'unknown_var_5_2' is 0.79%.
The importance of feature 'unknown_var_5_2cy' is 0.54%.
The importance of feature 'unknown_var_5_3' is 0.59%.
The importance of feature 'unknown_var_5_3cy' is 0.31%.
The importance of feature 'unknown_var_5_4' is 0.43%.
The importance of feature 'unknown_var_5_4cy' is 0.21%.
The importance of feature 'unknown_var_5_5' is 0.16%.
The importance of feature 'unknown_var_5_5cy' is 0.11%.
The importance of feature 'unknown_var_5_6' is 0.06%.
The importance of feature 'unknown_var_5_6cy' is 0.04%.
The importance of feature 'unknown_var_5_7' is 0.01%.
The importance of feature 'unknown_var_5_7cy' is 0.0%.
The importance of feature 'unknown_var_5_8' is 0.0%.
The importance of feature 'unknown_var_5_cb1' is 0.33%.
The importance of feature 'unknown_var_5_cb2' is 0.08%.
The importance of feature 'unknown_var_5_cb3' is 0.0%.
The importance of feature 'unknown_var_5_notfound' is 0.82%.
The importance of feature 'unknown_var_6_1' is 0.47%.
The importance of feature 'unknown_var_6_2' is 0.45%.
The importance of feature 'unknown_var_6_3' is 0.1%.
The importance of feature 'unknown_var_6_4' is 0.01%.
The importance of feature 'unknown_var_11_1' is 0.88%.
The importance of feature 'unknown_var_11_2' is 0.65%.
The importance of feature 'unknown_var_11_3' is 0.25%.
The importance of feature 'unknown_var_11_4' is 0.73%.

# Prediction

In [29]:
new_dat = pd.read_excel(r'D:\quang\data attacker\test_clean.xlsx')
new_dat.columns = new_dat.columns.str.strip()

In [44]:
data = []
new_dat_with_time_1_clean = pd.DataFrame(data)

In [45]:
new_dat_with_time_1 = new_dat[new_dat['time_1'].isnull()==False]
new_dat_without_time_1 = new_dat[new_dat['time_1'].isnull()==True]

In [46]:
new_dat_with_time_1 = new_dat_with_time_1.drop(['location_id',"cat_9",'trans_currency',"id","time_2","Field_11","cat_2","cat_4","cat_5","cat_6","date_1","mer_des","review_value","date_2","date_3","date_4","dob","address","mer_id","mer_name","trans_location","cat_8","job","num_trans_last_month","com_type","job_detail","unknown_var_4","social_location_id","social_subcriber_count","social_sex_info","social_friend_count"], axis=1)
new_dat_with_time_1_clean[['cat_1','cat_3','review_value_2','sex', 'cat_7', 'cat_10','cat_12','unknown_var_5','unknown_var_6','unknown_var_11','unknown_var_16','unknown_var_18','unknown_var_19','unknown_var_20','cat_11']] = new_dat_with_time_1[['cat_1','cat_3','review_value_2','sex', 'cat_7', 'cat_10','cat_12','unknown_var_5','unknown_var_6','unknown_var_11','unknown_var_16','unknown_var_18','unknown_var_19','unknown_var_20','cat_11']].apply(lambda x: x.fillna(x.value_counts().index[0]))
new_dat_with_time_1_clean[['mul_rate','value','num_date_review','age','unknown_var_2','unknown_var_3','unknown_var_7','unknown_var_8','unknown_var_9','unknown_var_10','unknown_var_12','unknown_var_13','unknown_var_14','unknown_var_15', 'unknown_var_17','unknown_var_1']] = new_dat_with_time_1[['mul_rate','value','num_date_review','age','unknown_var_2','unknown_var_3','unknown_var_7','unknown_var_8','unknown_var_9','unknown_var_10','unknown_var_12','unknown_var_13','unknown_var_14','unknown_var_15', 'unknown_var_17','unknown_var_1']].apply(lambda x: x.fillna(x.median()))

In [88]:
new_dat_with_time_1_clean.isnull().sum(axis=0)

mul_rate              0
value                 0
num_date_review       0
age                   0
unknown_var_1         0
                   ...
unknown_var_18        0
unknown_var_19        0
unknown_var_20        0
cat_11                0
time_1             2288
Length: 134, dtype: int64

In [47]:
change_to_int = ['cat_3', 'cat_7', 'cat_10', 'cat_11', 'unknown_var_6', 'unknown_var_11','unknown_var_16',
                'unknown_var_18','unknown_var_19','unknown_var_20']
for i in change_to_int:
    new_dat_with_time_1_clean[i]=new_dat_with_time_1_clean[i].astype('int')

In [48]:
new_dat_with_time_1_clean = pd.get_dummies(data=new_dat_with_time_1_clean, columns=['cat_1','cat_3','review_value_2','sex', 'cat_7', 'cat_10','cat_11','cat_12','unknown_var_5','unknown_var_6','unknown_var_11','unknown_var_16','unknown_var_18','unknown_var_19','unknown_var_20']) #tao bien dummies

In [ ]:
# Chinh thu tu cot cua testdata cho giong thu tu cot cua train_data
new_dat_clean = new_dat_clean[['mul_rate','value','num_date_review','age','unknown_var_1','unknown_var_2','unknown_var_3',
'unknown_var_7','unknown_var_8','unknown_var_9','unknown_var_10','unknown_var_12','unknown_var_13',
'unknown_var_14','unknown_var_15','unknown_var_17','cat_1_C1','cat_1_C2','cat_3_1','cat_3_2',
'cat_3_3','cat_3_4','review_value_2_0','review_value_2_1','sex_FEMALE','sex_MALE','cat_7_0',
'cat_7_1','cat_7_2','cat_7_3','cat_7_4','cat_10_0','cat_10_2','cat_10_3','cat_10_4','cat_10_5',
'cat_10_6','cat_10_7','cat_10_8','cat_10_9','cat_11_0','cat_11_2','cat_11_3','cat_11_4','cat_11_5',
'cat_12_B','cat_12_C','cat_12_D','cat_12_E','cat_12_F','cat_12_G','cat_12_H','cat_12_I','unknown_var_5_0',
'unknown_var_5_1','unknown_var_5_1cy','unknown_var_5_2','unknown_var_5_2cy','unknown_var_5_3','unknown_var_5_3cy',
'unknown_var_5_4','unknown_var_5_4cy','unknown_var_5_5','unknown_var_5_5cy','unknown_var_5_6','unknown_var_5_6cy',
'unknown_var_5_7cy','unknown_var_5_cb1','unknown_var_5_cb2','unknown_var_5_notfound','unknown_var_6_1',
'unknown_var_6_2','unknown_var_6_3','unknown_var_6_4','unknown_var_11_1','unknown_var_11_2','unknown_var_11_3',
'unknown_var_11_4','unknown_var_16_0','unknown_var_16_1','unknown_var_18_1','unknown_var_18_2','unknown_var_18_3',
'unknown_var_18_4','unknown_var_18_5','unknown_var_18_6','unknown_var_18_7','unknown_var_18_8','unknown_var_18_9',
'unknown_var_18_10','unknown_var_18_11','unknown_var_18_12','unknown_var_18_13','unknown_var_18_14','unknown_var_19_0',
'unknown_var_19_1','unknown_var_19_2','unknown_var_19_3','unknown_var_19_4','unknown_var_19_5','unknown_var_19_6',
'unknown_var_19_8','unknown_var_20_0','unknown_var_20_1','unknown_var_20_2','unknown_var_20_3','unknown_var_20_4',
'unknown_var_20_5','unknown_var_20_6','unknown_var_20_7','unknown_var_20_8','unknown_var_20_9','unknown_var_20_10',
'unknown_var_20_11','unknown_var_20_12','unknown_var_20_13']]

In [91]:
new_dat_clean.iloc[[0]]

,mul_rate,value,num_date_review,age,unknown_var_1,unknown_var_2,unknown_var_3,unknown_var_7,unknown_var_8,unknown_var_9,...,unknown_var_20_5,unknown_var_20_6,unknown_var_20_7,unknown_var_20_8,unknown_var_20_9,unknown_var_20_10,unknown_var_20_11,unknown_var_20_12,unknown_var_20_13,unknown_var_20_14
0,0.0,3900000.0,14.0,29.0,7.0,7.0,7.0,5.0,10.606602,-2.5,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
rf_model_without_time_1.predict(new_dat_clean.iloc[[0]])

In [93]:
new_dat_clean.to_excel(r'C:\Users\ADMIN\OneDrive - National Economics University\Desktop\NEW CLEAN DATA.xlsx', index=False)

In [ ]:
# Chinh thu tu cot cua testdata cho giong thu tu cot cua train_data

new_dat_clean = new_dat_clean[['mul_rate','value','num_date_review','age','unknown_var_1','unknown_var_2','unknown_var_3',
'unknown_var_7','unknown_var_8','unknown_var_9','unknown_var_10','unknown_var_12','unknown_var_13',
'unknown_var_14','unknown_var_15','unknown_var_17','cat_1_C1','cat_1_C2','cat_3_1','cat_3_2',
'cat_3_3','cat_3_4','review_value_2_0','review_value_2_1','sex_FEMALE','sex_MALE','cat_7_0',
'cat_7_1','cat_7_2','cat_7_3','cat_7_4','cat_10_0','cat_10_2','cat_10_3','cat_10_4','cat_10_5',
'cat_10_6','cat_10_7','cat_10_8','cat_10_9','cat_11_0','cat_11_2','cat_11_3','cat_11_4','cat_11_5',
'cat_12_B','cat_12_C','cat_12_D','cat_12_E','cat_12_F','cat_12_G','cat_12_H','cat_12_I','unknown_var_5_0',
'unknown_var_5_1','unknown_var_5_1cy','unknown_var_5_2','unknown_var_5_2cy','unknown_var_5_3','unknown_var_5_3cy',
'unknown_var_5_4','unknown_var_5_4cy','unknown_var_5_5','unknown_var_5_5cy','unknown_var_5_6','unknown_var_5_6cy',
'unknown_var_5_7cy','unknown_var_5_cb1','unknown_var_5_cb2','unknown_var_5_notfound','unknown_var_6_1',
'unknown_var_6_2','unknown_var_6_3','unknown_var_6_4','unknown_var_11_1','unknown_var_11_2','unknown_var_11_3',
'unknown_var_11_4','unknown_var_16_0','unknown_var_16_1','unknown_var_18_1','unknown_var_18_2','unknown_var_18_3',
'unknown_var_18_4','unknown_var_18_5','unknown_var_18_6','unknown_var_18_7','unknown_var_18_8','unknown_var_18_9',
'unknown_var_18_10','unknown_var_18_11','unknown_var_18_12','unknown_var_18_13','unknown_var_18_14','unknown_var_19_0',
'unknown_var_19_1','unknown_var_19_2','unknown_var_19_3','unknown_var_19_4','unknown_var_19_5','unknown_var_19_6',
'unknown_var_19_8','unknown_var_20_0','unknown_var_20_1','unknown_var_20_2','unknown_var_20_3','unknown_var_20_4',
'unknown_var_20_5','unknown_var_20_6','unknown_var_20_7','unknown_var_20_8','unknown_var_20_9','unknown_var_20_10',
'unknown_var_20_11','unknown_var_20_12','unknown_var_20_13']]

In [ ]:
sum(rf_model.predict(new_dat_clean))

In [ ]:
answer = rf_model.predict(new_dat_clean)
predict = {'Predict': answer}
predict_df = pd.DataFrame(predict)
predict_df.to_excel(r'C:\Users\ADMIN\OneDrive - National Economics University\Desktop\PREDICT.xlsx', index=False)